# !!! In order for the conf file to be taken in charge you have to change the extension to '.conf' !!!
# Solace base conf
solace_url: https://c1.int.gcp.digital-backbone.io
solace_api_port: 
solace_username: *******
solace_password: ******
solace_health_check_port: 55555
solace_cluster_name: c1
solace_node_name: n0